book/_static/.DS_Store
book/.ipynb_checkpoints/book/_static/.DS_Store
book/.ipynb_checkpoints/
*.DS_Store
book/_build
book/Recipe1/.ipynb_checkpoints
book/Recipe1/input25km
#book/Recipe1/gospl_data
book/Recipe1/script/__pycache__/
book/Recipe1/script/.ipynb_checkpoints/
book/Recipe1/export
book/Recipe1/outGoM
book/Recipe2/.ipynb_checkpoints
book/Recipe2/script/__pycache__/
book/Recipe2/script/.ipynb_checkpoints/
