book/_static/.DS_Store
book/.ipynb_checkpoints/book/_static/.DS_Store
book/.ipynb_checkpoints/
*.DS_Store
book/_build
book/GoM/.ipynb_checkpoints
book/GoM/outGoM
book/GoM/input25km
book/GoM/gospl_data
book/GoM/script/__pycache__/
book/GoM/script/.ipynb_checkpoints/
book/GoM/*.tif
book/GoM/*.dat
book/GoM/*.nc
book/GoM/*.vtk
